[Desktop Entry]
Name=Pantheon (non-gnome)
Comment=This session provides elementary experience
Exec=startpantheon
TryExec=wingpanel
Icon=
DesktopNames=Pantheon
Type=Application
