[Desktop Entry]
Name=Pantheon
Comment=This session provides elementary experience without gnome-session
Exec=/usr/bin/startpantheon
TryExec=/usr/bin/wingpanel
Icon=pantheon
Type=Application
